{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% blocktranslate with book_count=books.count %}
        Esta es una tienda de libros que cuenta con: {{ book_count }}
    {% endblocktranslate %}

    {% for book in books %}
        <article>
            <p>{% translate "title" %}: {{ book.title }}</p>
            <p>{% translate "author" %}: {{ book.author.username }}</p>
            <p>{% translate "rating" %}: {{ book.rating }}</p>
        </article>
    {% endfor %}

{% endblock %}
