{% extends 'base.html' %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for book in books %}
        <article>
            <p>title: {{ book.title }}</p>
            <p>author: {{ book.author.username }}</p>
            <p>rating: {{ book.rating }}</p>
        </article>
    {% endfor %}

{% endblock %}
